   <table class="table table-striped">
           <thead>
           	<tr>
             <th >Identifiant </th>
              <th >Matricule </th>
           		<th >Mark</th>
           		
           		<th ></th>
           		<th ></th>
              <th></th>
           	</tr>
           </thead>
           <tbody >

           <tr  dnd-draggable *ngFor="let vehicule of vehicules" [dragEnabled]="true"  [dropZones]="['delete-dropZone']" [dragData]="vehicule" >
           <td >{{vehicule.idVehicule}} </td>
           <td >{{vehicule.matricule}} </td>
           <td >{{vehicule.mark}}</td>
            <td ><a [routerLink]="['/vehicule/add/', -vehicule.idVehicule]" routerLinkActive="active"><button  class="btn ink-reaction btn-success">Details <i class="fa  fa-television" aria-hidden="true"></i></button></a></td>

     <td ><a [routerLink]="['/vehicule/add/', vehicule.idVehicule]" routerLinkActive="active"><button  class="btn btn-warning" >Update <i class="fa fa-cog" aria-hidden="true"></i></button></a></td>

     

            <td ><button (click)="deleteVehicule(vehicule)" class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>

              
            </tr>
        
       
         
        </tbody>
        </table>


 <div class="row" >

<div class="col-md-6">
  <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
              [boundaryLinks]="true" [rotate]="false"  
              [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"></pagination>

</div>



<div class="offset-sm-4 col-sm-2" style="margin-top: 1.5%; ">

   <button style="color: green;" type="button" class="btn btn-block btn-default "><i class="fa fa-plus" aria-hidden="true"></i><a [routerLink]="['/vehicule/add/', 0]" routerLinkActive="active"> Ajouter</a></button>
</div>



<div   class="chang offset-sm-4 col-sm-2" >

   <img dnd-droppable (onDropSuccess)="deleteVehicule($event)" [dropZones]="['delete-dropZone']" src="../../assets/img/corbeille.jpg" />
</div>
</div>

